.color{
    height: 50px;
    width: 50px;
    background-color: blue;
}

.color2{
    height: 50px;
    width: 50px;
    background-color: blue;
}

.color3{
    height: 50px;
    width: 50px;
    background-color: blue;
}